* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.58824;
    text-align: center;
    font-family: 'yg-jalnan';
}

ul {
    list-style: none;
    }

/*02_01_GNB    */
.logo img {
/*    float: left;*/
    height: 55px;
}

.share_link img {
/*    float: left;*/
    height: 55px;
    margin-right: 50px;
}

.globalnav {
/*    top: 0;*/
    position: fixed;
/*    z-index: 9998;*/
    width: 100%;
    margin: 0 auto;
    background: #fff;
    height: 55px;
}
.list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
}
.main1{
  font-size: 40px;
  color: #0064FF;
  text-align: left;
  line-height: 60px;
  margin-bottom: 35px;
    
}

.main2{
  font-size: 19px;
  color: #0064FF;
  text-align: left;
  line-height: 22px;
}

.star_box{
  width: 180px;
  height: 50px;
  border-radius: 30px;
  background-color: #F42C71;
  text-align: center;
  line-height: px;
  font-size: 30px;
  color: white;
  margin-top: 28px;
}

@font-face{
    src: url("ttf/yg-jalnan.ttf");
    font-family: 'yg-jalnan';
}
a { text-decoration:none ; color:#fff;}

.main_con{
    padding-top: 200px;
    width: 1200px;
    display: inline-block;

}
.main_left{
    width: 600px;
    float: left;
}

.main_right{
    float: right;
}

.main_right img{
    height: 350px;    
}